*{
    padding: 0;
    margin: 0;
}
.wrapper{
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 1200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1200px){
    .container{
        max-width: 970px;
    }
}
@media (max-width: 992px){
    .container{
        max-width: 750px;
    }
}
@media (max-width: 600px){
    .container{
        max-width:450px;
    }
    .user__info__items{
        margin-left: 2rem;
        flex-direction: column;
        width: 100%;
        align-items: flex-start !important;
        justify-content: center;
    }
    .user__information > p{
        
        font-size: 1rem;
        margin-right: 0;
        
    }
    
    .user__info__item{
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .user__img{
        margin-right: 2rem;
    }
    
}

.block__items{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    
    background-color:cadetblue;
    padding: 1rem;
    height: 30rem;
    width: 60rem;
}
.block__text{
    font-size: 2rem;
    color: white;

}
.nav__item{
    color: rgb(216, 216, 216);
    
}
.user__items{
    display: flex;
    align-items: center;
}
.user__img > img {
    width: 5rem;
    height: 5rem;
}
.user__information{
    color: white;
    
}
.user__info__item{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    
}
.user__info__items{
    display: flex;
    align-items: center;
    margin-left: 1rem;
    
    min-height: 8rem;
    min-width: 18rem;
}
.user__information > p:first-child{
    color: rgb(216, 216, 216);
}
.user__information > p{
    
    margin-bottom: 0.4rem;
    margin-right: 1rem;
    word-break: normal;
}