input{
    outline: none;
}
.default{
    padding: 0.7rem;
    box-shadow: 1px 1px 5px rgb(170, 170, 170);
    border-radius: 3px;
    width: 15rem;
}
input::-webkit-input-placeholder{
    color:rgb(170, 170, 170) ;
}
.valid{
    display: inline-block;
    border: 1px solid green;
    background: url('../img/valid.png') no-repeat  ;
    background-size: 1.5rem 1.5rem;
    background-position-x: 98% ;
    background-position-y: 50%;
}
.invalid{
    border: 1px solid red;
    background: url('../img/invalid.png') no-repeat  ;
    background-size: 1.5rem 1.7rem;
    background-position-x: 98% ;
    background-position-y: 50%;
}
.valid::-webkit-input-placeholder{
    color: green;

}
.invalid::-webkit-input-placeholder{
    color: red;
}
