
.radio{
    margin-left: 1rem;
}
.radio > input[type=radio]{
    display: none;
}
.radio label{
    display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 30px;
	margin-right: 0;
	line-height: 18px;
}
.radio label:before{
    content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	position: absolute;
    
	left: 0;
	bottom: 1px;
    border: 1px solid green;
    border-radius:50%;
}
.radio label:after{
    background: green;
    left: 0;
    top: 30%;
    transition: .3s;
    transform: scale(3.4);
    opacity: 0;
    margin-top: -7px;
    width: 14px;
    height: 14px;
    content: '';
    position: absolute;
    left: 4px;
    border-radius: 50%;
}
.radio input[type=radio]:checked + label:after{
    opacity: 1;
    transform: scale(1);
}