*{
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
    color: black;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul,li{
    padding: 0;
    margin: 0;
    list-style: none;
}
.wrapper{
    min-height: 100%;
}
.page__wrapper{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page__items{
    width: 1400px;
    height: 90vh;
    border: 1px solid black;
    /* overflow: hidden; */
    
}
.container{
    max-width: 1400px;
    border: 1px solid black;
}
.page__header{
    max-width: 100%;
    padding: 1.5rem;
    border-bottom: 2px solid rgb(214, 214, 214);
    
}
.img > img{
    max-width: 4rem;
}
.img{
    margin-right: 1rem;
    margin-left: 1rem;
}
.header__item{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.header__text{
    font-size: 1.2rem;
    font-weight: 600;
}
.header__items{
    display: flex;
    justify-content: space-between;
}
.list__item{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}
.list__item > img{
    margin-right: 1rem;

}
.page__main{
    padding: 2rem 2.5rem;
}
.main__items{
    display: flex;
    flex-direction: row;
    
}
.list__items > ul > li:first-child .list__item{
    background-color: rgba(248, 187, 187, 0.726);
}
.main__item{
    border: 1px solid black;
    max-width: 100%;
}
.w70{
    width: 100%;
    margin-left: 0.4rem;
}
.ico > img {
    max-width: 1rem;
}
.ico{
    margin-right: 1rem;
}
.message-items{
    border-bottom: 1px solid green;
    padding: 0.8rem;
    max-width: 90%;
    display: flex;
    align-items: center;
    
}
.message__item{
    display: flex;
    
    
    border: 1px solid black;
    max-width: 100%;
    min-width: 30%;
    width: 90%;
    justify-content: space-between;
}

.message__text__adap{
    display: flex;
    flex-direction: row;
    max-width: 90%;
    width: 90%;
    justify-content: space-around;
}
.hide{
    text-overflow: ellipsis !important;
    max-width: 60%;
    min-width: 20%;
    overflow: hidden;
    border: 1px solid red;
}
.no-wrap{
    white-space: nowrap;
}
@media (max-width: 800px){
    .message__text__adap{
        flex-direction: column !important;
    }
    .message__item{
        flex-direction: column !important;
    }
}
@media (max-width: 970px){
    .container{
        max-width: 860px !important;
    }
}